body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background: #ffffff;
    font-family: 'Fira Mono', monospace;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
}
#back-img{
    background-image: url('./post.jpg');
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding-left: 0;
    padding-right: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    z-index: -1;
}

#main {
    z-index: 0;
    width: 100vw;
    min-height: 800px;
    height: auto;
    padding-top: 50px;
}

#quanly{
    margin-right: 120px;
}

.update{
    margin-right: 10px;
}

.delete{
    width: max-content;
    height: max-content;
    padding: 0;
}

.delete:focus{
    border: none;
}

#post {
    min-height: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 80vw;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

#post img {
    object-fit: none;
    height: 300px;
    width: 75vw;
    margin-left: 2.5vw;
    margin-top: 10px;
    border-radius: 5px;
}

#content {
    padding-bottom: 30px;
}

#post #content h3 {
    margin-left: 2.5vw;
    margin-top: 30px;
}

#post #content p {
    margin-left: 4vw;
    margin-top: 10px;
}

#comment {
    min-height: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 80vw;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 20px;
    padding-bottom: 30px;
}

#cmt-box {
    height: auto;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.cmt {
    width: 100%;
}

.nd {
    width: 100%;
    height: auto;
    display: inline-block;
    border-radius: 5px;
    padding: 10px 15px 10px 5px;
    background-color: #e0e0e0;
    margin-bottom: 20px;
}

.cmt .nd .name {
    padding: 0%;
    margin: 0;
    color: black;
    font-size: 20px;
}

.cmt .nd .cmt-content {
    padding: 0;
    margin: 0;
    color: #2e2e2e;
    font-size: 15px;
}