#back{
    position: fixed;
    background-image: url('./home.jpg');
    top:0px;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    padding-left: 0;
    padding-right: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.homeContainer{
    position: relative;
    padding-top: 60px;
    z-index: 0;
}