.form-sub{
    margin-right: auto;
    margin-left: auto;
    height: 400px;
    width: 600px;
    border-radius: 15px;
    margin-top:10%;
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 206, 146);
}
b{
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 20px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
button{
    height: 50px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: #008CBA;
    color: white;
}
.message {
    font-size: 1.2em;
    text-align: center;
    color: white;
}